body {
    display: flex;
    align-items: center;
}

#field {
    display: grid;
    grid-template: 100px 100px 100px 100px / 100px 100px 100px 100px;
}

#field div {
    display: inline-block;
    border: 1px solid grey;
}

#start {
    margin-top: 10px;
    float: right;
    margin-right: 100px;
    width: 150px;
    font-size: 30px;
}

.form {
    margin: auto;
}

.info {
    float: left;
}

#timer {
    font-size: 40px;
    position: absolute;
    top: 250px;
    left: 700px;
    border: 3px solid crimson;
    padding: 5px;
}
